includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    databaseMigrationsPath: [
        modules/game/migrations,
        database/migrations,
        modules/user/migrations,
    ]
    level: 8
    paths:
        - modules
        - app
        - database
        - tests
