includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    databaseMigrationsPath: [
        modules/game/database/migrations,
        database/migrations
    ]
    level: 8
    paths:
        - modules
        - app
        - database
        - tests
services:
    -
        class: \Dnw\Foundation\PHPStan\AllowLaravelTestAttributeRule
        tags:
            - phpstan.rules.rule
